<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for :notification, url: notification_path do |f| %>
      <%= f.label :name, 'New Application Name:' %>
      <%= f.text_field :name  %>
      <%= f.submit "Generate API Key", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

  <div class="col-md-8 col-md-offset-2">
    <% @applications.each do |application| %>
      <div class="row">
        <div class="col-md-3">
          Application Name: <%= application.name %>
        </div>
        <div class="col-md-5">
          API Key: <%= application.api_key %>
        </div>
        <div class="col-md-4">
          <%= link_to "Generate Key", notification_path(id: application.id), method: :put %> | <%= link_to "Delete Key", notification_path(id: application.id), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
