<div class="container">
  <h1><%= @folder.name %></h1>
  <%= link_to "Edit Folder", edit_user_folder_path(current_user.id, @folder.id) %>
  <%= form_for @folder do |f| %>
    <%= f.label 'Email: ' %>
    <%= f.text_field :folder_permissions %>
    <%= f.submit 'Grant Access' %>
  <% end %>
  <ul>
    <%= form_for(:download, url: downloads_path) do |f| %>
      <% @documents.each do |document| %>
      <%= link_to document.filename, document.url %><br>
        <%= f.check_box(document.id)%>
        <%= f.label "Download?" %><br>
      <% end %>
      <%= f.submit "Download Selected Files" %>
    <% end %>
  </ul>
</div>

<% if current_user %>
  <%= link_to "Upload File", new_user_document_path(current_user.id) %>
<% end %>
