Logged in as <%= current_user.name %>

<%= link_to "Create Folder", new_user_folder_path(current_user.id) %>

<p>Profile Info:</p>
<li>
  <ul>
    <%= current_user.name %>
    <%= current_user.email %>
    <%= current_user.sms_number %>
  </ul>
</li>

<div class="edit_user_link">
  <%= link_to "Edit Profile", edit_user_path(current_user) %>
</div>

<div class="back_to_profile">
  <%= link_to "<< Back To Dashboard", dashboard_path %>
</div>
