<!DOCTYPE html>
<html>
  <head>
    <title>Filedrop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <%= render partial: 'layouts/navbar' %>

  <body>

    <% flash.each do |type, msg| %>
      <%= content_tag(:div, sanitize(msg), class: "alert alert-#{type}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
